@font-face{
    font-family: "Early GameBoy";
    src: url('../fonts/Early\ GameBoy.ttf') format('truetype');
}
body{
    font-family: 'Early\ GameBoy', 'VT323';
    font-size: 16px;
    color:  rgb(0, 30, 0);
    background-color: #bdbdbd; 
}
h1{
    margin: 0px;
    text-align: center
}
h3{
    text-align: center;
    background-color: #306230;
    margin: 22px auto 0px auto;
    width: 50%;
    border-radius: 50px 50px 0px 0px;
}
.container{
    display: flex;
    justify-content: center;
}
#cadre{
    display: flex;
    justify-content: center;
    justify-self: center;
    background-color: grey;
    padding: 30px 100px 30px 100px;
    border-radius: 15px 15px 70px 15px;
}
#canvas{
    height: 500px;
    width: 500px;
    margin: 0 auto;
    background-color: #cacd9f;
    background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png") ;   
    box-shadow: inset 3px 3px 10px 5px rgba(0,0,0,0.50); 
}
.playerTwo{
    padding-top: 20px;
    margin: 10px;
}
.playerOne{
    padding-top: 50px;
    margin: 10px;

}
#scores{
    background: rgb(0, 30, 0);
    color: rgb(221, 255, 221);
    height: 30px;
    padding-left: 3px;
    padding-top: 10px;
}
.box{
    background-color: #306230;
    border-radius: 120px 120px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 2%;
}
.trou{
    width: 100px;
    height: 15%;
    border-radius: 50% 50% 10%;
    background-color: #8bac0f;
    flex-direction: row;
    cursor: pointer;
}
.trou:hover{
    background-color: #9BBC0F;
    box-shadow: inset 0px 0px 4px 8px rgba(255, 255, 255, 0.3);
}
.seeds{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    vertical-align: middle;
    line-height: 80px;
}
.buttons{
    display: flex;
}
#buttonA, #buttonB{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(110, 8, 34);
    display: flex;
    margin: 0 auto;
    justify-content: center;
    vertical-align: middle;
    line-height: 50px;
    box-shadow: inset 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
    margin-top: 15px
}
#buttonA:hover, #buttonB:hover{
    background-color: rgb(145, 12, 45) ;
    box-shadow: inset 2px 2px 4px 2px rgba(255, 255, 255, 0.1);

}

